# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Environments
.venv/
venv/
env/
ENV/
.conda/
conda/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Data & outputs (projekt-spezifisch)
data/raw/
data/processed/
outputs/
*.parquet

# Alte HTMLs
outputs/alt
